.button-square {
  background-color: $azul;
  border:none;
  padding: 13px;
  color: #fff;
}

.button-pill {
  background-color: #43b8c9;
  color: #FCFFFD;
  border: none;
  width: 173px;
  height: 40px;
  position: relative;
  top: -30px;
  left: 275px;
  border-radius: 5px;
}

