.container {
  max-width: 1280px;
  margin:0 auto;

}

.cont-information {
  max-width: 700px;
  margin: 0 auto;
  display: inline-block;
  background-color: #fff;
  margin-top: -161px;

}

.content-sidebar {
  max-width: 400px;
  margin: 0 auto;
  vertical-align: top;
  display: inline-block;
  margin-left: 161px;

}

.article-content-info-main img {
  width: 100%;
  
}

.content-sidebar h3 {
  color: $turquesa;
  border-bottom: 3px solid;
  margin: 40px 0 20px 0;
  font-size: 20px;
}


.read-more {
  text-decoration: none;
  color: #43B8C9;
  font-weight: 600;
  margin-left: 36px;
}

.input-sidebar {
  background-color: $gris-claro;
  border: none;
  padding: 13px 43px 13px 13px;
  color: #848484;
  margin-right: 10px;
}


// articles

.article-content-img {
    height: 188px;
    width: 230px;
    background-color: #D4D4D4;
    display: inline-block;
    float: left;
    
}

.article-content-img-publicidad {
    float: none;
}

.external-news-article-text {
  color: $anaranjado;

}

.external-news a {
  margin-top: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #000;

}

.content-info {
 padding-bottom: 32px;
 margin-bottom: 26px;
  
}

.article-content-new {
  width: 61%;
  display: inline-block;
  margin-left: 37px;
}

.content-info hr {
  margin-top: 40px;
}
