

.list-nav-main li {

  display: inline-block;
  
}

.list-nav-main {
	float:left;
  margin-top: 93px;
  margin-left: 191px;

}

.list-nav-main a {
  text-decoration: none;
  color: $blanco;

}

.social-medias-main {

	display: inline-block;
  float:right;
  margin-top: 143px;
  margin-right: 238px;
}

